h1, h2, h3{
    font-family: "Gotham Black";
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hamburger{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line{
    height: 5px;
    width: 100%;
    background-color: white;
}

.item{
    box-sizing: border-box;
    min-height: 300px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 0px 10px 5px #f5f5f5;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin: 10px 0px;
}

.item h3{
    text-align: center;
    font-size: 1.5rem;
}

.item p {
    margin: 0px;
}

.item p > span{
    font-family: sans-serif;
    font-weight: bold;
}

.goto_button{

}

